@font-face {
  font-family: ClaireHandRegular;
  src: url('ClaireHandRegular.otf');
}
html {
  transition: .8s;
  box-sizing: border-box;
}
.container {
  max-width: 700px;
  margin: 10em auto 0;
  padding: 1em;
  min-width: 400px;
}
#output {
  min-width: 400px;
  text-align: center;
  margin-top: 5em;
  color: white;
}
#output p {
  font-family: ClaireHandRegular;
  margin-top: 2em;
  font-size: 1.75em;
}

#tweet,
#new-quote {
  outline: none;
  margin: 2em auto;
  color: #ffffff;
  padding: .8em 1em;
  border: solid #FFFFFF;
  transition: .3s;
}
#tweet:hover,
#new-quote:hover {
  /* opacity: .5; */
  background: white;
  color: gray;
}
.btn-grp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .container {
    max-width: 100%;
    min-width: 217px;
    padding: 0;
    margin-top: 6em; }
  #tweet:hover,
  #new-quote:hover,
  #tweet:visited,
  #new-quote:visited {
    /* opacity: .5; */
    background: transparent;
    color: #ffffff;
  }
  #tweet:active,
  #new-quote:active {
    /* opacity: .5; */
    background: white;
    color: gray;
  }

  #output {
    min-width: 0; }
  #output p {
    font-size: 2em;
  }
  }
