html {
  transition: .8s;
}
.container {
  max-width: 700px;
  margin: 10em auto 0;
  padding: 1em;
  /* background: white; */
  min-width: 400px;
}
#output {
  min-width: 400px;
  text-align: center;
  margin-top: 5em;
  color: white;
}
#output p {
  margin-top: 2em;
  font-size: 19px;  
}

#tweet,
#new-quote {
  margin: 2em auto;
  color: #ffffff;
  padding: .8em 1em;
  border: solid #FFFFFF;
}
.btn-grp {
  display: flex;
  justify-content: space-between;
}
